/*========= Breakpoints ==========*/
/*** Small - SM ***/
/*** Medium - MD ***/
/*** Large - LG ***/
/*** Extra large - XLG ***/
/*========= Color Variables ==========*/
/* Color Palette used for All Components page */
@import "https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap";
.color-prim-one {
  background-color: #494c4e;
  color: #FFFFFF;
}

.color-prim-two {
  background-color: #017D79;
  color: #000000;
}

/*
.color-prim-three {
   background-color: $primary-two;
   color: $black;
}
*/
.color-sec-one {
  background-color: #017D79;
  color: #000000;
}

.color-sec-two {
  background-color: #00AFAA;
  color: #000000;
}

.color-sec-three {
  background-color: #E87511;
  color: #FFFFFF;
}

.color-sec-four {
  background-color: #46A660;
  color: #000000;
}

.color-sec-five {
  background-color: #006FBF;
  color: #000000;
}

.color-sec-six {
  background-color: #004489;
  color: #FFFFFF;
}

/*
.color-sec-seven {
   background-color: $secondary-seven;
   color: $white;
}
*/
.color-tint-one {
  background-color: #F2F8FC;
  color: #000000;
}

.color-tint-two {
  background-color: #99C5E5;
  color: #000000;
}

.color-tint-three {
  background-color: #ECF6EE;
  color: #000000;
}

.color-tint-four {
  background-color: #65B57B;
  color: #000000;
}

.color-tint-five {
  background-color: #DBF5FA;
  color: #000000;
}

.color-tint-six {
  background-color: #BDEDF5;
  color: #000000;
}

.color-white {
  background-color: #FFFFFF;
  color: #000000;
}

.color-black {
  background-color: #000000;
  color: #FFFFFF;
}

.color-grey-one {
  background-color: #494c4e;
  color: #FFFFFF;
}

.color-grey-two {
  background-color: #6E7376;
  color: #000000;
}

.color-grey-three {
  background-color: #CDD5DC;
  color: #000000;
}

.color-grey-four {
  background-color: #F7F7F7;
  color: #000000;
}

.color-grey-five {
  background-color: #D3D9E3;
  color: #000000;
}

.color-grey-six {
  background-color: #B9C2D0;
  color: #000000;
}

.color-grey-seven {
  background-color: #7C8695;
  color: #000000;
}

.color-grey-eight {
  background-color: #72777A;
  color: #000000;
}

.color-grey-nine {
  background-color: #565A5C;
  color: #FFFFFF;
}

.color-gradient-one {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F9FAFB));
  background: linear-gradient(#FFFFFF, #F9FAFB);
}

.color-gradient-two {
  background: -webkit-gradient(linear, left top, left bottom, from(#F9FAFB), to(#F2F3F5));
  background: linear-gradient(#F9FAFB, #F2F3F5);
}

.color-gradient-three {
  background: -webkit-gradient(linear, left top, left bottom, from(#F9FAFB), to(#E6EAF0));
  background: linear-gradient(#F9FAFB, #E6EAF0);
}

.color-gradient-four {
  background: -webkit-gradient(linear, left top, left bottom, from(#B9C2D0), to(#72777A));
  background: linear-gradient(#B9C2D0, #72777A);
}

/*========= Fonts ==========*/
/* Font family for course */
/* font sizing converted to rem; - worked off of https://snook.ca/archives/html_and_css/font-size-with-rem; */
/*========= Bootstrap Resets ==========*/
.card-header {
  background-color: #F9FAFB;
}

.bg-light {
  background-color: #F7F7F7 !important;
}

/*========= Default CSS Values ==========*/
/* Setting default colour font family and size/scale */
html,
body {
  color: #494c4e;
  font-family: "Lato", sans-serif;
  font-size: 100%;
}

/* Setting max width of container-fluid */
.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
}

/* Code snippets - allows text to wrap and avoids horizontal scroll bar */
pre,
pre.card {
  margin-top: 1.125rem;
  word-break: break-all;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

pre code,
pre.card code {
  white-space: pre-wrap;
  padding: 1.125rem;
}

/* Set images to resize by default */
img {
  max-width: 100%;
  height: auto;
}

/* Hides the source backgroung image for elements using the backgroundimage.js script */
.bg-img-wrapper {
  background-size: cover;
}

.bg-img-wrapper img:first-child {
  display: none;
}

/*========= Blockquotes ==========*/
/* Regular Blockquote */
blockquote {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  font-size: 1.25rem;
  font-weight: bold;
  font-style: italic;
}

blockquote footer {
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: normal;
}

/*========= Headings ==========*/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-align: left; /**ODLI Change from center to left**/
}

h1,
.h1 {
  color: #512d6d; /* Purple - ODLI Change */
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: bold;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

h2,
.h2 {
  color: #171717; /* Almost Black - ODLI Change */
  font-family: 'Lato', sans-serif;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: bold;
  margin-top: 1.875rem;
  margin-bottom: 1rem;
}

h3,
.h3 {
  color: #494c4e;
  font-family: 'Lato', sans-serif;
  font-size: 1.625rem;
  line-height: 2.125rem;
  font-weight: bold;
}

h4,
.h4 {
  color: #512d6d; /* Purple - ODLI Change */
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

h5,
.h5 {
  color: #494c4e;
  font-family: 'Lato', sans-serif;
  font-size: 1.3125rem;
  line-height: 1.75rem;
  font-weight: bold;
}

h6,
.h6 {
  color: #494c4e;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
}

@media (max-width: 992px) {
  h1,
  .h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  h2,
  .h2 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
  h3,
  .h3 {
    font-size: 1.3125rem;
    line-height: 1.5rem;
  }
  h4,
  .h4 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  h5,
  .h5 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 768px) {
  h1,
  .h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  h2,
  .h2 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
  h3,
  .h3 {
    font-size: 1.3125rem;
    line-height: 1.5rem;
  }
  h4,
  .h4 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  h5,
  .h5 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/*========= Links ==========*/
a {
  color: #006FBF;
  border-bottom: 1px dotted #006FBF;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #006FBF;
  border-bottom: 1px solid #006FBF;
  text-decoration: none;
}

a.new-window::after, a.download::after {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 0.35rem;
}

a.new-window::after {
  content: "\f35d";
}

a.download::after {
  content: "\f019";
}

/*========= Lists ==========*/
ol,
ul {
  font-size: 1rem;
  padding-left: 1.25rem;
  margin-left: 0.625rem;
}

@media screen and (min-width: 768px) {
  ol,
  ul {
    font-size: 1.1875rem;
  }
}

ol li,
ul li {
  padding-left: 0.5rem;
  padding-bottom: 1.25rem;
}

ol li ul,
ol li ol,
ul li ul,
ul li ol {
  margin-top: 0;
}

ol li ul li,
ol li ol li,
ul li ul li,
ul li ol li {
  margin-bottom: 0;
  padding-bottom: 0;
}

li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Box Number List */
ol.box-number {
  counter-reset: li;
  padding-left: 3rem;
}

ol.box-number li {
  list-style: none;
  padding-bottom: 0.75rem;
  position: relative;
}

ol.box-number li:before {
  background-color: #512d6d; /* Purple - ODLI Change */
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  content: counter(li);
  counter-increment: li;
  font-size: 1rem;
  font-weight: bold;
  left: -3rem;
  margin: 4px 8px 0 0;
  padding: 4px;
  position: absolute;
  text-align: left; /**ODLI Change from center to left**/
  top: -8px;
  width: 2rem;
}

ol.box-number ol {
  counter-reset: list;
  padding-top: 1rem;
  margin-left: 1.875rem;
}

ol.box-number ol li:before {
  content: counter(list, lower-alpha);
  counter-increment: list;
}

ol.box-number ul {
  margin-left: 1.875rem;
  padding-top: 1rem;
}

ol.box-number ul li:before {
  background-color: transparent;
  color: #000000;
  content: "\2022";
  counter-increment: list;
  font-size: 1.5rem;
  left: -3rem;
  margin-top: 0;
}

/* Icon List */
ul.list-icon {
  list-style-type: none;
}

ul.list-icon li {
  padding-bottom: 0.75rem;
  position: relative;
}

ul.list-icon span:before {
  font-size: 2rem;
  margin-left: -3rem;
  position: absolute;
  top: -6px;
}

ul.list-icon .fa-check {
  color: #512d6d; /* Purple - ODLI Change */
}

ul.list-icon .fa-times {
  color: #ffc72c; /* Gold - ODLI Change */
}

/* Box Alpha List */
ol.box-alpha {
  counter-reset: letter;
  padding-left: 3rem;
}

ol.box-alpha li {
  list-style: none;
  padding-bottom: 0.75rem;
  position: relative;
}

ol.box-alpha li:before {
  background-color: #000000;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  content: counter(letter, lower-alpha);
  counter-increment: letter;
  font-size: 1rem;
  font-weight: bold;
  left: -3rem;
  margin: 4px 8px 0 0;
  padding: 4px;
  position: absolute;
  text-align: left; /**ODLI Change from center to left**/
  top: -8px;
  width: 2rem;
}

ol.box-alpha ol {
  counter-reset: list;
  padding-top: 1rem;
  margin-left: 1.875rem;
}

ol.box-alpha ol li:before {
  content: counter(list, lower-roman);
  counter-increment: list;
}

ol.box-alpha ul {
  padding-top: 1rem;
  margin-left: 1.875rem;
}

ol.box-alpha ul li:before {
  background-color: transparent;
  color: #000000;
  content: "\2022";
  counter-increment: list;
  font-size: 1.5rem;
  left: -3rem;
  margin-top: 0;
}

/* Large Number List - for Learning Objectives */
ol.large-number {
  margin-left: 0;
  padding-top: 10px;
  padding-left: 3.75rem;
  counter-reset: item;
}

ol.large-number li {
  list-style: none;
  margin-bottom: 1.25rem;
  position: relative;
}

ol.large-number li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #512d6d;  /* Purple - ODLI Change */
  left: -3.75rem;
  margin: 8px 8px 0 0;
  position: absolute;
  top: -0.9375rem;
  font-size: 3.125rem;
  line-height: 3rem;
  font-weight: bold;
  margin-right: 0.9375rem;
}

ol.large-number ol, ol.large-number ul {
  counter-reset: list;
  padding-top: 1rem;
  margin-left: 1.875rem;
}

ol.large-number ol li:before, ol.large-number ul li:before {
  color: #000000;
  counter-increment: list;
  left: -40px;
  top: -3px;
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: 400;
}

ol.large-number ol li:before {
  content: counter(list, lower-roman) ". ";
}

ol.large-number ul li:before {
  content: "\2022";
}

/* Lower alpha list*/
ol.lower-alpha {
  list-style-type: lower-alpha;
}

/* Colors for list markers */
/* Colors for background of element --used for box-number, box-list*/
ol.bg-colour-one li:before,
ul.bg-colour-one li:before {
  background-color: #512d6d;  /* Purple - ODLI Change */
}

ol.bg-colour-one span:before,
ul.bg-colour-one span:before {
  background-color: #512d6d;  /* Purple - ODLI Change */
}

/* Colors for text of element --used for dics ul, fa icons */
ol.text-colour-one li:before,
ul.text-colour-one li:before {
  color: #512d6d;  /* Purple - ODLI Change */
}

ol.text-colour-one span:before,
ul.text-colour-one span:before {
  color: #512d6d;  /* Purple - ODLI Change */
}

/* unstyled list */
.list-unstyled {
  margin-left: 0;
}

.list-unstyled li {
  padding-bottom: 0;
}

/*========= Text Elements ==========*/
/* Styling for text elements, for example <p>, <span>, <em> and <strong>. */
p {
  /* Add any custom formatting to the P tag here. */
  /* Mobile Sizing - up to $screen-md*/
  font-size: 1rem;
  line-height: 1.5rem;
  /* Tablet and up Sizing - from $screen-md*/
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1.1875rem;
    line-height: 1.75rem;
  }
}

.lead {
  /* Part of Bootstrap 4. Lead text can be used to begin a topic and would draw learner attention to a critical point, or could be an attention catching fact.*/
  font-size: 1.3125rem;
  line-height: 2rem;
}

@media (min-width: 768px) {
  .lead {
    /* Part of Bootstrap 4. Lead text can be used to begin a topic and would draw learner attention to a critical point, or could be an attention catching fact.*/
    font-size: 1.1875rem;
    line-height: 1.5rem;
  }
}

hr {
  border-top: 1px solid #B5BDC2;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/*card body adjustment*/
.card-body {
	padding:0.5rem;
}

/*========= Banners ==========*/
.overlay-content {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  overflow: hidden;
}

.overlay-content h1,
.overlay-content h2,
.overlay-content h3,
.overlay-content h4,
.overlay-content h5,
.overlay-content h6 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.9375rem;
}

.overlay-content p {
  text-align: center;
}

.overlay-content .card-body {
  background-color: transparent;
  border: 0;
}

.overlay-content.bg-darkness,
.overlay-content .bg-darkness {
  background-color: rgba(86, 90, 92, 0.9);
}

.overlay-content.bg-darkness h1,
.overlay-content.bg-darkness h2,
.overlay-content.bg-darkness h3,
.overlay-content.bg-darkness h4,
.overlay-content.bg-darkness h5,
.overlay-content.bg-darkness h6, .overlay-content.bg-darkness p,
.overlay-content .bg-darkness h1,
.overlay-content .bg-darkness h2,
.overlay-content .bg-darkness h3,
.overlay-content .bg-darkness h4,
.overlay-content .bg-darkness h5,
.overlay-content .bg-darkness h6,
.overlay-content .bg-darkness p {
  color: #FFFFFF;
}

.overlay-content.bg-light,
.overlay-content .bg-light {
  background-color: #FFFFFF !important;
}

.overlay-content.bg-light h1,
.overlay-content.bg-light h2,
.overlay-content.bg-light h3,
.overlay-content.bg-light h4,
.overlay-content.bg-light h5,
.overlay-content.bg-light h6, .overlay-content.bg-light p,
.overlay-content .bg-light h1,
.overlay-content .bg-light h2,
.overlay-content .bg-light h3,
.overlay-content .bg-light h4,
.overlay-content .bg-light h5,
.overlay-content .bg-light h6,
.overlay-content .bg-light p {
  color: #494c4e;
  text-align: center;
}

.intersect-wrapper {
  overflow: hidden;
}

.intersect-wrapper .intersect-content {
  background: #FFFFFF;
  margin: 15% auto auto;
  padding: 1.875rem 0 0.9375rem;
  overflow: hidden;
}

.fullscreen-splash .overlay-content {
  background-color: #FFFFFF;
}

.fullscreen-splash .overlay-content p {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .fullscreen-splash {
    padding-top: 5.313rem;
    padding-bottom: 12.81rem;
  }
}

.fullscreen-splash.bg-img-wrapper {
  background-repeat: no-repeat;
}

.banner-img img {
  width: 100%;
}




/*========= Callouts ==========*/
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
  margin-top: 0.75rem;
}

.card-standard {
  border: 3px solid #512d6d; /* Purple - ODLI Change */
  margin: 1.875rem 0 1.875rem 0;
}

.card-standard .card-body {
  padding: 0.75rem;   /* Reduced from 1.875 to 0.75 in order to not waste space at card top - ODLI Change */
}

.card-standard .card-body h2,
.card-standard .card-body h3,
.card-standard .card-body h4,
.card-standard .card-body h5,
.card-standard .card-body h6,
.card-standard .card-body .callout-header {
  color: #1E2D34;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}

.card-standard .card-body p {
  color: #212529;
  font-size: 1.1875rem;
}

.card-graphic {
  border: 3px solid #512d6d; /* Purple - ODLI Change */
  margin: 1.875rem 0 1.875rem 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
}

.card-graphic .card-body {
  padding: 1.875rem;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
}

.card-graphic .card-body h2,
.card-graphic .card-body h3,
.card-graphic .card-body h4,
.card-graphic .card-body h5,
.card-graphic .card-body h6,
.card-graphic .card-body .card-header {
  color: #1E2D34;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}

.card-graphic .card-body p {
  color: #1E2D34;
  font-size: 1.1875rem;
}

.card-graphic .card-body .card-icon {
  margin-right: 1.25rem;
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
  order: 0;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  padding: 0.625rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-graphic .card-body .card-icon img {
  margin-right: 0.625rem;
  width: 5.313rem;
  height: 5.313rem;
  min-width: 5.313rem;
}

.card-graphic .card-body .card-icon .fa,
.card-graphic .card-body .card-icon .fas {
  font-size: 3.125rem;
  min-width: 5.313rem;
  text-align: center;
  color: #512d6d;  /* Purple - ODLI Change */
}

.card-graphic .card-body .card-text p {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

@media screen and (max-width: 768px) {
  .card-graphic .card-body .card-icon {
    display: none;
  }
}

/*custom class for the border*/
.box-border {
  border: 1px solid #CDD5DC;
  padding: 1.875rem 6.25rem;
}

/*========= Figures ==========*/
figure {
  border: 1px solid #000000;
  margin: 0 auto 10px;
  display: inline-block;
}

figure.figure-alt {
  border: 6px solid #D8D8D8;
}

figure figcaption {
  font-style: normal;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

figure img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border: 0;
}

figure.float-left {
  margin-right: 1.25rem;
}

figure.float-right {
  margin-left: 1.25rem;
}

.img-200 {
  max-width: 200px;
}

.img-300 {
  max-width: 250px;
}

.img-400 {
  max-width: 400px;
}

.img-500 {
  max-width: 500px;
}

.img-600 {
  max-width: 100%;
}

@media screen and (min-width: 554px) {
  figure {
    margin-bottom: 0;
  }
  .img-200 {
    max-width: 20%;
  }
  .img-300 {
    max-width: 30%;
  }
  .img-400 {
    max-width: 50%;
  }
  .img-500 {
    max-width: 60%;
  }
  .img-600 {
    max-width: 66%;
  }
}

@media screen and (min-width: 768px) {
  .img-300 {
    max-width: 300px;
  }
  .img-400 {
    max-width: 400px;
  }
  .img-500 {
    max-width: 500px;
  }
  .img-600 {
    max-width: 550px;
  }
}

@media screen and (min-width: 992px) {
  .img-600 {
    max-width: 600px;
  }
}

/*========= Footers ==========*/
footer {
  border-top: 2px solid #E5E5E5;
  padding: 30px 0;
  margin-top: 3.125rem;
  text-align: right;
}

footer img {
  max-height: 125px;
}

/*========= Icons ==========*/
/*========= Images ==========*/
/*========= Jumbotrons ==========*/
.jumbotron {
  padding: 1.875rem;
  color: #FFFFFF;
  margin: 1.875rem 0;
  background-color: #512d6d; /* Purple - ODLI Change */
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5 {
  color: #FFFFFF;
  text-align: left;
  margin-top: 0;
}

/*========= Panels ==========*/
/* Two Column Panels */
.two-col-panels .row > .card:first-child {
  margin-right: 0rem; /* ODLI Change - to 0rem */
  background-color: #F7F7F7;
  padding: 15px;
}

.two-col-panels .row > .card:last-child {
  margin-left: 0rem; /* ODLI Change - to 0rem */
  background-color: #F7F7F7;
  padding: 15px; /* ODLI Change - previously 30px */
}

.two-col-panels .card .card-body {
  padding: 1.875rem;    /* Changed to 1.875rem from 0.75 to assist with card spacing ODLI Change */
}

.two-col-panels .card .card-body h2,
.two-col-panels .card .card-body h3,
.two-col-panels .card .card-body h4,
.two-col-panels .card .card-body h5,
.two-col-panels .card .card-body h6,
.two-col-panels .card .card-body .card-header {
  padding-top: 0;
  margin-bottom: 1.0rem;  /* switched from 0 to 1rem to create space in cards - ODLI Change */
}

/* Stacked Panels */
.stacked-panels .card .card-body h2,
.stacked-panels .card .card-body h3,
.stacked-panels .card .card-body h4,
.stacked-panels .card .card-body h5,
.stacked-panels .card .card-body h6,
.stacked-panels .card .card-body .card-header {
  margin-top: 0;
  padding-top: 0;
}

.stacked-panels .card:first-child {
  margin-bottom: 0.9375rem;
  background-color: #F7F7F7;
  padding: 30px;
}

.stacked-panels .card:last-child {
  margin-top: 0.9375rem;
  background-color: #F7F7F7;
  padding: 30px; 
}

/*========= Tables ==========*/
.table-responsive,
.table {
  overflow-y: hidden;
  padding: 1.25rem;
}

.table-responsive caption,
.table caption {
  vertical-align: middle;
  min-height: 1.25rem;
  text-align: center;
  font-weight: bold;
}

.table-responsive th,
.table th {
  font-size: 1.25rem;
  background-color: #F7F7F7;
  font-weight: bold;
}

.table-responsive tr, .table-responsive td,
.table tr,
.table td {
  padding: 1.25rem;
}

/** Videos **/
.embed-responsive {
  margin-bottom: 0.9375rem;
}

.video-wrapper {
  margin: 3rem auto;
  border: 1px solid #B9C2D0;
  background-color: #FFFFFF;
  padding: 30px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-wrapper .video-text {
  color: #000000;
  margin-left: 10px;
}

video {
  width: 100%;
  height: auto;
}

/*========= Accordions ==========*/
/* Accordion: Standard */
.accordion:first-child {
  margin-top: 5px;
}

.accordion .h1,
.accordion .h2,
.accordion .h3,
.accordion .h4,
.accordion .h5,
.accordion .h6,
.accordion h1,
.accordion h2,
.accordion h3,
.accordion h4,
.accordion h5,
.accordion h6 {
  font-size: 1.125rem;
}

.accordion .card {
  border: none;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.accordion .card .card-title {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.accordion .card .card-title button {
  color: #494c4e;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1.25rem;
  border: 1px solid #CDD5DC;
  border-radius: 0;
  background-color: #FFFFFF;
  padding-left: 70px;
}

.accordion .card .card-title button:hover, .accordion .card .card-title button:focus {
  color: #006FBF;
}

.accordion .card .card-title button::after {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}

.accordion .card .card-title button[aria-expanded="true"]:after {
  content: "\f107";
  color: #B9C2D0;
}

.accordion .card .card-title button[aria-expanded="false"]:after {
  content: "\f105";
  color: #B9C2D0;
}

.accordion .card .card-header {
  padding: 0;
}

.accordion .card .card-header button {
  border: 1px solid #CDD5DC;
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
}

.accordion .card-body {
  border: 1px solid #CDD5DC;
  background-color: #F7F7F7;
}

/*========= Buttons ==========*/
button {
  /* Default Button and Primary Button - this can be split up if necessary */
  /* Secondary Button */
}

button .btn, button.btn-primary {
  background-color: #006FBF;
  border-color: #006FBF;
  color: #FFFFFF;
  margin: 10px;
  padding: 10px 30px;
}

button .btn:hover, button.btn-primary:hover {
  background-color: #004489;
  color: #FFFFFF;
  border: 0 solid transparent;
}

button .btn:focus, button.btn-primary:focus {
  background-color: #004489;
  border-color: #004489;
  color: #FFFFFF;
}

button .btn:active, button .btn:active:hover, button .btn:active:focus, button.btn-primary:active, button.btn-primary:active:hover, button.btn-primary:active:focus {
  background-color: #004489;
  border-color: #004489;
  color: #FFFFFF;
}

button .btn:disabled, button .btn[aria-expanded="true"], button.btn-primary:disabled, button.btn-primary[aria-expanded="true"] {
  background-color: #006FBF, 0.5;
  border-color: #006FBF, 0.5;
  color: #FFFFFF;
}

button .btn:disabled:hover, button .btn[aria-expanded="true"]:hover, button.btn-primary:disabled:hover, button.btn-primary[aria-expanded="true"]:hover {
  background-color: rgba(0, 111, 191, 0.5);
  border-color: rgba(0, 111, 191, 0.5);
  color: #FFFFFF;
}

button.btn-secondary, button.copy-btn {
  background-color: #E3E9F1;
  border-color: #E3E9F1;
  color: #000000;
  margin: 10px;
  padding: 10px 30px;
}

button.btn-secondary:hover, button.copy-btn:hover {
  background-color: #CDD5DC;
  color: #000000;
  border: 0 solid transparent;
}

button.btn-secondary:focus, button.copy-btn:focus {
  background-color: #CDD5DC;
  border-color: #004489;
  color: #000000;
}

button.btn-secondary:active, button.btn-secondary:active:hover, button.btn-secondary:active:focus, button.copy-btn:active, button.copy-btn:active:hover, button.copy-btn:active:focus {
  background-color: #CDD5DC;
  border-color: #CDD5DC;
  color: #000000;
}

button.btn-secondary:disabled, button.btn-secondary[aria-expanded="true"], button.copy-btn:disabled, button.copy-btn[aria-expanded="true"] {
  color: #CDD5DC;
  background-color: rgba(227, 233, 241, 0.5);
  border-color: rgba(227, 233, 241, 0.5);
  color: #000000;
}

button.btn-secondary:disabled:hover, button.btn-secondary[aria-expanded="true"]:hover, button.copy-btn:disabled:hover, button.copy-btn[aria-expanded="true"]:hover {
  background-color: rgba(227, 233, 241, 0.5);
  border-color: rgba(227, 233, 241, 0.5);
  color: #000000;
}

/*========= Quick Assessments ==========*/
/*========= Tabs ==========*/
.tab-pane {
  padding-top: 15px;
  padding-bottom: 15px;
}

.list-group-item {
  font-size: 1.25rem;
  font-weight: bold;
  border-left: none;
  padding: 1.25rem;
  border-color: #CDD5DC;
  background: #F7F7F7;
}

@media screen and (max-width: 768px) {
  .list-group-item {
    margin-bottom: 0;
    border-right: none;
  }
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.list-group-item:hover, .list-group-item:focus {
  background-color: #FFFFFF;
  border-bottom: 1px solid #CDD5DC;
}

.list-group-item.active {
  background-color: #512d6d; /* Purple - ODLI Change */
  border-color: #ffc72c; /* Gold - ODLI Change */
}

/*** Vertical Tabs ***/

.tabs-vertical {
   border: 2px solid $grey-three;
   border-radius: 5px;

   .tab-content {
      padding-top: 15px;
      padding-right: 30px;
      padding-bottom: 15px;

      .tab-pane {

         h2,
         h3,
         h4,
         h5,
         h6,
         .card-header {
            &:first-child {
               color: $primary-one;
               font-size: $f24;
               padding-top: 0;
               margin-bottom: 0;
            }

         }

         padding-top: 15px;
         padding-bottom: 15px;
      }
   }

   .list-group {
      border-right: 1px solid $grey-three;
      height: 100%;
      margin-bottom: -1px;
   }

   .list-group-item {
      border-right: none;
   }

   .list-group-item:first-child {
      border-top: none;
      border-top-right-radius: 0;
   }

   .list-group-item:last-child {
      border-bottom-right-radius: 0;
   }
}

/*** Horizontal Tabs ***/
.tabs-horizontal {
  border: 1px solid #CDD5DC;
  border-radius: 5px;
}

.tabs-horizontal .list-group-item {
  border-top: none;
}

.tabs-horizontal .tab-pane {
  padding: 30px 30px 60px;
}

@media screen and (min-width: 768px) {
  .list-group.flex-md-row .list-group-item:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .list-group.flex-md-row .list-group-item:last-child {
    border-top-right-radius: .25rem;
    border-right: none;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    margin-bottom: -1px;
  }
}

/* Graphic Tabs */
.graphic-tabs {
  border: 2px solid #B3B2B3;
  padding: 20px;
  border-right: 1px solid #E0E0E0;
}

.graphic-tabs h4,
.graphic-tabs h3 {
  margin: 15px 0;
}

.graphic-tabs .graphic-tab.list-group-item {
  border: none !important;
}

.graphic-tabs .graphic-tab.active {
  background-color: #F2F4F6;
  border-color: #B3B2B3;
  color: #006FBF;
  text-decoration: underline;
  text-align: center;
}

.graphic-tabs .graphic-tab.active h4,
.graphic-tabs .graphic-tab.active h3 {
  color: #006FBF;
  text-decoration: underline;
  margin: 15px 0;
  text-align: center;
}

.graphic-tabs .content-graphic-tabs {
  background-color: #F2F4F6;
  padding: 20px 30px;
}

.graphic-tabs .content-graphic-tabs hr {
  margin: 0;
}

@media (max-width: 768px) {
  .hidden-sm {
    display: none !important;
  }
}

/*========= Columns ==========*/
/*========= Grid ==========*/
/*========= Margin ==========*/
/*========= Padding ==========*/
/*========= Width ==========*/
/*========= HTML Editor Mode ==========*/
/* switched .mce-content-body to *[contenteditable="true"] {} so we are 'editor agnostic' */
*[contenteditable="true"] {
  /* Displays the hidden background image so it can be swapper out in the editor */
  /* Expands Accordions so content can be accessed in the editor */
  /* Expand Tabs */
}

*[contenteditable="true"] .bg-img-wrapper img:first-child {
  display: block;
  max-width: 100%;
}

*[contenteditable="true"] .bg-img-wrapper {
  background-size: cover;
}

*[contenteditable="true"] .accordion .collapse:not(.show) {
  display: block;
}

*[contenteditable="true"] .accordion .h1,
*[contenteditable="true"] .accordion .h2,
*[contenteditable="true"] .accordion .h3,
*[contenteditable="true"] .accordion .h4,
*[contenteditable="true"] .accordion .h5,
*[contenteditable="true"] .accordion .h6,
*[contenteditable="true"] .accordion h1,
*[contenteditable="true"] .accordion h2,
*[contenteditable="true"] .accordion h3,
*[contenteditable="true"] .accordion h4,
*[contenteditable="true"] .accordion h5,
*[contenteditable="true"] .accordion h6 {
  text-align: left;
  color: #494c4e;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1.25rem;
  border: 1px solid #CDD5DC;
  border-radius: 0;
  background-color: #FFFFFF;
}

*[contenteditable="true"] .tab-content > .tab-pane {
  opacity: 1;
  display: block;
  border: 2px solid #CDD5DC;
  padding: 15px;
}

*[contenteditable="true"] .fade:not(.show) {
  opacity: 1;
}

/*========= Media Query for Print ==========*/
@media print {
  .accordion .collapse:not(.show) {
    display: block;
  }
  .tab-content > .tab-pane {
    opacity: 1;
    display: block;
    border: 2px solid #CDD5DC;
    padding: 15px;
  }
  .fade:not(.show) {
    opacity: 1;
  }
}

/*** Additional version 1 elements added  by ODLI ***/

/* Background Header Image */
@media screen and (min-width: 768px) {
  .intro-header {
    background-image: url(../img/banner1.jpg);
  }
}

.intro-header {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .intro-header2 {
    background-image: url(../img/banner2.jpg);
  }
}

.intro-header2 {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .intro-header3 {
    background-image: url(../img/banner3.jpg);
  }
}

.intro-header3 {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .intro-header4 {
    background-image: url(../img/banner4.jpg);
  }
}

.intro-header4 {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .intro-header5 {
    background-image: url(../img/banner5.jpg);
  }
}

.intro-header5 {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .intro-header6 {
    background-image: url(../img/banner6.jpg);
  }
}

.intro-header6 {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .intro-header7 {
    background-image: url(../img/banner7.jpg);
  }
}

.intro-header7 {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .intro-header8 {
    background-image: url(../img/banner8.jpg);
  }
}

.intro-header8 {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .intro-header9 {
    background-image: url(../img/banner9.jpg);
  }
}

.intro-header9 {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .intro-header10 {
    background-image: url(../img/banner10.jpg);
  }
}

.intro-header10 {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .intro-header11 {
    background-image: url(../img/banner11.jpg);
  }
}

.intro-header11 {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .intro-header12 {
    background-image: url(../img/banner12.jpg);
  }
}

.intro-header12 {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .intro-header13 {
    background-image: url(../img/banner13.jpg);
  }
}

.intro-header13 {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .intro-header14 {
    background-image: url(../img/banner14.jpg);
  }
}

.intro-header14 {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .intro-header15 {
    background-image: url(../img/banner15.jpg);
  }
}

.intro-header15 {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .intro-header16 {
    background-image: url(../img/banner16.jpg);
  }
}

.intro-header16 {
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .conclusion-header {
    background-image: url(../img/conclude1.jpg);
  }
}

.banner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 0px;
  color: #ffffff;  
  background-size: cover;
}

.banner h1,
.banner h2,
.banner h3,
.banner h4 {
  color: #ffffff;
}

.banner .banner-overlay {
  background: #006FBF;  
  padding: 15px 15px 15px 15px;
  margin: 0px 0;
}

@media screen and (min-width: 768px) {
  .banner .banner-overlay {
    background: rgba(0, 111, 191, 0.9);
    padding: 0 15px 15px 15px;
    margin: 70px 0;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    margin-bottom: 15px;
  }
}


/* Graphic Columns */
.graphic-col {
  margin-bottom: 30px;
}

.graphic-col .col-sm-2,
.graphic-col .col-sm-3,
.graphic-col .col-sm-4,
.graphic-col .col-sm-15,
.graphic-col .col-sm-6 {
  margin-bottom: 60px;
  padding: 0;
}

.graphic-col .col-sm-2:first-child,
.graphic-col .col-sm-3:first-child,
.graphic-col .col-sm-4:first-child,
.graphic-col .col-sm-15:first-child,
.graphic-col .col-sm-6:first-child {
  border-left: none;
}

.graphic-col p {
  margin: 20px 0;
}

.graphic-col h3 {
  margin-top: 0;
}

.graphic-col .eq-items .row {
  margin: 0;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .graphic-col .col-sm-2,
  .graphic-col .col-sm-3,
  .graphic-col .col-sm-4,
  .graphic-col .col-sm-15,
  .graphic-col .col-sm-6 {
    margin-bottom: 0;
  }
  .graphic-col .col-sm-2:last-child,
  .graphic-col .col-sm-3:last-child,
  .graphic-col .col-sm-4:last-child,
  .graphic-col .col-sm-15:last-child,
  .graphic-col .col-sm-6:last-child {
    border-right: none;
  }
  .graphic-col h3 {
    margin-top: 20px;
  }
}

/** Timeline **/
.timeline {
  list-style: none;
  padding-left: 0;
  position: relative;
}

.timeline:before {
  background-color: #E6EAF0;
  bottom: 0;
  content: " ";
  left: 40px;
  margin-left: -1px;
  position: absolute;
  top: 0;
  width: 2px;
}

.timeline > li {
  margin-bottom: 30px;
  position: relative;
  padding: 0;
}

.timeline > li:before, .timeline > li:after {
  border-left-width: 0;
  content: " ";
  display: table;
  right: auto;
}

.timeline > li:before {
  border-right-width: 15px;
  left: -15px;
}

.timeline > li:after {
  border-right-width: 14px;
  clear: both;
  left: -14px;
}

.timeline > li:last-child {
  padding-bottom: 0;
}

.timeline .timeline-badge {
  background-color: #512d6d; /**ODLI Edit - Changed color from 46A661**/
  border-radius: 15px;
  height: 15px;
  left: 33px;
  line-height: 50px;
  margin-left: 0;
  position: absolute;
  top: 34px;
  text-align: center;
  width: 15px;
  z-index: 100;
}

.timeline .timeline-panel {
  background-color: #F9FAFB;
  border: 1px solid #F2F3F5;
  float: right;
  padding: 20px;
  position: relative;
  width: calc(100% - 90px);
}

.timeline .timeline-panel:before, .timeline .timeline-panel:after {
  content: " ";
  display: inline-block;
  position: absolute;
}

.timeline .timeline-panel:before {
  border-top: 15px solid transparent;
  border-right: 15px solid #F9FAFB;
  border-bottom: 15px solid transparent;
  border-left: 0 solid #F9FAFB;
  left: -15px;
  right: auto;
  top: 26px;
}

.timeline .timeline-panel:after {
  border-top: 14px solid transparent;
  border-left: 0 solid #F2F3F5;
  border-right: 14px solid #F2F3F5;
  border-bottom: 14px solid transparent;
  left: -14px;
  right: auto;
  top: 27px;
}

@media screen and (min-width: 768px) {
  .timeline-alt:before {
    left: 50%;
  }
  .timeline-alt .timeline-badge {
    left: 50%;
    margin-left: -8px;
    top: 35px;
  }
  .timeline-alt .timeline-panel {
    float: left;
    width: 46%;
  }
  .timeline-alt .timeline-panel:before, .timeline-alt .timeline-panel:after {
    border-right-width: 0;
    left: auto;
  }
  .timeline-alt .timeline-panel:before {
    border-left-width: 15px;
    right: -15px;
  }
  .timeline-alt .timeline-panel:after {
    border-left-width: 14px;
    right: -14px;
  }
  .timeline-alt li:nth-child(even) .timeline-panel {
    float: right;
  }
  .timeline-alt li:nth-child(even) .timeline-panel:before, .timeline-alt li:nth-child(even) .timeline-panel:after {
    border-left-width: 0;
    right: auto;
  }
  .timeline-alt li:nth-child(even) .timeline-panel:before {
    border-right-width: 15px;
    left: -15px;
  }
  .timeline-alt li:nth-child(even) .timeline-panel:after {
    border-right-width: 14px;
    left: -14px;
  }
}

/* Table: Click & Reveal */
.table-reveal .btn-secondary {
  margin-bottom: 0;
}

.table-reveal th:first-child {
  width: 20%;
}

/* Flip Card */
.card {
  display: block;
  margin-bottom: 10px; /*ODLI changed from 60px to 10px*/
  max-width: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -ms-perspective: 1000px;
  vertical-align: top;
}

.card button {
  border: none;
  padding: 0;
}

.card .content {
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -ms-backface-visibility: visible;
  position: relative;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  width: 100%;
}

.card .content .card-front,
.card .content .card-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -ms-backface-visibility: visible;
  background-color: #F2F3F5;
  border: 1px solid #E6EAF0;
  height: 100%;
  left: 0;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.card .content .card-front p,
.card .content .card-front h2,
.card .content .card-front h3,
.card .content .card-front h4,
.card .content .card-front h5,
.card .content .card-front h6,
.card .content .card-back p,
.card .content .card-back h2,
.card .content .card-back h3,
.card .content .card-back h4,
.card .content .card-back h5,
.card .content .card-back h6 {
  padding-left: 15px;
  padding-right: 15px;
}

.card .content .card-front,
.card.apply-flip .content .card-front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
}

.card .content .card-back,
.card.apply-flip .content .card-back {
  background-color: white;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
}

.card .content .card-front,
.card.apply-flip .content .card-back {
  -webkit-animation: stayvisible 0.5s both;
          animation: stayvisible 0.5s both;
  -ms-animation: donothing 0.5s;
  -ms-transition: visibility 0s linear 0.17s;
  visibility: visible;
}

.card .content .card-back,
.card.apply-flip .content .card-front {
  -webkit-animation: stayvisible 0.5s both;
          animation: stayvisible 0.5s both;
  -ms-animation: donothing 0.5s;
  -ms-transition: visibility 0s linear 0.17s;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .col-sm-3 .card,
  .col-sm-4 .card,
  .col-sm-6 .card {
    margin: 0 auto 10px; /*ODLI Change from 30px to 10px*/
  }
  .col-sm-3 .card {
    max-width: 300px;
  }
  .col-sm-4 .card {
    max-width: 400px;
  }
  .col-sm-15 .card {
    max-width: 210px;
  }
  .col-sm-6 .card {
    max-width: 600px;
  }
}

.card.apply-flip .content {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}

@keyframes stayvisible {
  from,
  to {
    visibility: visible;
  }
}

@-webkit-keyframes stayvisible {
  from,
  to {
    visibility: visible;
  }
}

/** Generator Videos **/
.embed-responsive {
  margin-bottom: 15px;
}

